body {
    background-image: url("roady.jpg") ;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
    font-family: verdana;
}
.name {
    text-align: center;
}
.title {
    font-size: 42px;
    display:inline-block;
    font-family: verdana;
    font-variant: small-caps;
    border-style: solid none none solid;
    border-color: #ffffff;
    border-width: 2px;
    margin-top: 100px;
    padding-left: 3px;
}
.subtitle {
    font-size: 16px;
    display: inline-block;
}

.buttons {
    text-align:center;
}

#about {
    font-size: 24px;
    display: inline-block;
    color: #ffffff;
    border-style: solid solid solid solid;
    border-color: #ffffff transparent transparent #ffffff;
    border-width: 2px;
    text-decoration:none;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}

#cv {
    font-size: 24px;
    display: inline-block;
    color: #ffffff;
    border-style: solid solid solid solid;
    border-color: #ffffff transparent transparent #ffffff;
    border-width: 2px;
    text-decoration:none;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}

#proj {
    font-size: 24px;
    display: inline-block;
    color: #ffffff;
    border-style: solid solid solid solid;
    border-color: #ffffff transparent transparent #ffffff;
    border-width: 2px;
    text-decoration:none;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}
article {
    text-align:center;
}

#me {
    text-align:justify;
    margin-top: 60px;
    max-width: 70%;
    display:inline-block;
    border-style: solid none none solid;
    border-color: #ffffff;
    border-width: 2px;
    padding-left: 3px;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 40px;
    -webkit-backdrop-filter: blur(10px);
}

#aboutText {
    text-align: justify;
    line-height: 1.5;
}

.links {
    text-align:center;
    margin-bottom: 20px;
}

#git {
    font-size: 24px;
    display: inline-block;
    color: #ffffff;
    border-style: solid solid solid solid;
    border-color: #ffffff transparent transparent #ffffff;
    border-width: 2px;
    text-decoration:none;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 15px;
    margin-bottom: 40px;
}
#linkedin {
    font-size: 24px;
    display: inline-block;
    color: #ffffff;
    border-style: solid solid solid solid;
    border-color: #ffffff transparent transparent #ffffff;
    border-width: 2px;
    text-decoration:none;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 15px;
    margin-bottom: 40px;
}
#contact {
    font-size: 24px;
    display: inline-block;
    color: #ffffff;
    border-style: solid solid solid solid;
    border-color: #ffffff transparent transparent #ffffff;
    border-width: 2px;
    text-decoration:none;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 15px;
    margin-bottom: 40px;
}
#cat {
    font-size: 20px;
}
#resume {
    text-align:justify;
    margin-top: 60px;
    max-width: 70%;
    display:inline-block;
    border-style: solid none none solid;
    border-color: #ffffff;
    border-width: 2px;
    padding-left: 3px;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 40px;
    line-height: 1.2;
    -webkit-backdrop-filter: blur(10px);
}

#books {
    text-align:justify;
    margin-top: 60px;
    max-width: 70%;
    display:inline-block;
    border-style: solid solid solid solid;
    border-color: #ffffff transparent transparent #ffffff;
    border-width: 2px;
    padding-left: 3px;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 40px;
    -webkit-backdrop-filter: blur(10px);
}

#HTP {
    text-align:justify;
    margin-top: 60px;
    max-width: 70%;
    display:inline-block;
    border-style: solid solid solid solid;
    border-color: #ffffff transparent transparent #ffffff;
    border-width: 2px;
    padding-left: 3px;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 40px;
    -webkit-backdrop-filter: blur(10px);
}

#linkbook {
    font-style: italic;
    color: #ffffff;
}

#linkpond {
    font-style: italic;
    color: #ffffff;
}

@media only screen and (max-width: 768px){
    #about{
        display: block;
        margin-right: 0px;
    }
    #cv{
        display: block;
        margin-right: 0px;
        margin-left: 0px;
    }
    #proj{
        display: block;
        margin-left:0px;
    }
    div{
        display: block;
    }
}